<ion-header>
  <ion-toolbar>
    <ion-title color="success">Atividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let atividade of atividades" (click)="verDetalhes(atividade)">
      <ion-card>
        <ion-card-header>
          <ion-card-title>{{ atividade.descricao }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <p>Data de Entrega: {{ atividade.dataEntrega | date }}</p>
          <p>Nota: {{ atividade.nota }}</p>
          <p>Matéria: {{ atividade.materia }}</p>
        </ion-card-content>
      </ion-card>
    </ion-item>
  </ion-list>
</ion-content>

