<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Atividades</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Selecione uma Matéria</ion-label>
    <ion-select [(ngModel)]="materiaSelecionada" (ionChange)="filtrarAtividadesPorMateria()">
      <ion-select-option *ngFor="let materia of materias" [value]="materia">
        {{ materia }}
      </ion-select-option>
    </ion-select>
  </ion-item>

  <ion-list>
    <ion-card *ngFor="let atividade of atividades" [ngClass]="{
      'atrasada': atividade.status === 'atrasada',
      'proxima': atividade.status === 'proxima',
      'em-dia': atividade.status === 'em-dia'
    }">
      <ion-card-header>
        <ion-card-title>{{ atividade.descricao }}</ion-card-title>
        <ion-card-subtitle>Data de entrega: {{ atividade.dataEntrega }}</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p>Nota: {{ atividade.nota }}</p>
      </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>