.header-title {
  text-align: center;
  flex-grow: 1;
  font-weight: bold;
}

.logo{
  height: 40px;
  width: auto;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 50%;
}

.menu-title {
  font-size: 24px;
  color: white;
  text-align: center;
}

ion-list {
  margin-top: 20px;
  background: transparent;
}

ion-item {
  --background: transparent; // Fundo transparente para o item
  --color: #ffffff; // Cor do texto
  border-radius: 8px; // Bordas arredondadas
  transition: background 0.3s; // Transição suave para o hover
}

ion-item:hover {
  --background: rgba(255, 255, 255, 0.1); // Efeito de hover
}

ion-icon {
  color: green; // Cor dos ícones
}

ion-item-divider {
  margin-top: 20px;
  font-weight: bold; /* Negrito para divisores */
}

h2 {
  font-size: 1.2em; /* Tamanho do título da pergunta */
  margin-bottom: 5px; /* Espaço abaixo do título */
}

p {
  font-size: 1em; /* Tamanho do texto da resposta */
}