<ion-menu contentId="main-content" side="start">
  <ion-header>
    <ion-toolbar color="">
      <ion-title class="menu-title">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/perfil" detail="false">
        <ion-icon slot="start" name="person-circle"></ion-icon>
        <ion-label>Perfil do Usuário</ion-label>
      </ion-item>
      <ion-item routerLink="/termos" detail="false">
        <ion-icon slot="start" name="document-text"></ion-icon>
        <ion-label>Termos de Uso</ion-label>
      </ion-item>
      <ion-item routerLink="/settings" detail="false">
        <ion-icon slot="start" name="settings"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="header-title" color="success">FAQ</ion-title>
      <ion-buttons slot="end">
        <img class="logo" src="assets/imagens/logo-sem-escrita.png" alt="Logo" />
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <div class="ion-padding">
      <ion-list>
        <ion-item-divider color="light">
          <ion-label>Perguntas Frequentes</ion-label>
        </ion-item-divider>
        <ion-item>
          <ion-label>
            <h2>Como posso redefinir minha senha?</h2>
            <p>Você pode redefinir sua senha clicando em "Esqueci minha senha" na tela de login.</p>
          </ion-label>
        </ion-item>
        <ion-item>
          <ion-label>
            <h2>Como posso entrar em contato com o suporte?</h2>
            <p>Você pode entrar em contato com o suporte através da página de contato.</p>
          </ion-label>
        </ion-item>
        <!-- Adicione mais perguntas e respostas conforme necessário -->
      </ion-list>
    </div>
  </ion-content>
</div>