<ion-header>
  <ion-toolbar>
    <ion-title>Criar Atividade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <form (ngSubmit)="onSubmit()" *ngIf="materias.length">
    <ion-item>
      <ion-label position="floating">Descrição</ion-label>
      <ion-input [(ngModel)]="atividade.descricao" name="descricao" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Data de Entrega</ion-label>
      <ion-input [(ngModel)]="atividade.dataEntrega" name="dataEntrega" type="date" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Nota</ion-label>
      <ion-input [(ngModel)]="atividade.nota" name="nota" type="number" required></ion-input>
    </ion-item>

    <ion-item>
      <ion-label>Matéria</ion-label>
      <ion-select [(ngModel)]="atividade.materia" name="materia" required>
        <ion-select-option *ngFor="let materia of materias" [value]="materia">
          {{ materia }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-button expand="full" type="submit" [disabled]="!isFormValid()">Salvar</ion-button>
  </form>
</ion-content>
