<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/atividades"></ion-back-button>
    </ion-buttons>
    <ion-title>Criar Atividade</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form (ngSubmit)="onSubmit()" #atividadeForm="ngForm">
    <!-- Mensagem de erro -->
    <ion-item *ngIf="errorMessage" lines="none" color="danger">
      <ion-text color="danger">
        {{ errorMessage }}
      </ion-text>
    </ion-item>

    <!-- Campo Descrição -->
    <ion-item>
      <ion-label position="stacked">Descrição <ion-text color="danger">*</ion-text></ion-label>
      <ion-input 
        type="text" 
        [(ngModel)]="atividade.descricao" 
        name="descricao" 
        required>
      </ion-input>
    </ion-item>

    <!-- Campo Data de Entrega -->
    <ion-item>
      <ion-label position="stacked">Data de Entrega <ion-text color="danger">*</ion-text></ion-label>
      <ion-datetime-button datetime="datetime"></ion-datetime-button>
      <ion-modal [keepContentsMounted]="true">
        <ng-template>
<ion-datetime 
            id="datetime"
            [(ngModel)]="atividade.dataEntrega"
            name="dataEntrega"
            presentation="date"
            locale="pt-BR"
            firstDayOfWeek="0"
            min="2023"
            max="2025"
            required>
          </ion-datetime>
        </ng-template>
      </ion-modal>
    </ion-item>

    <!-- Campo Nota -->
    <ion-item>
      <ion-label position="stacked">Nota Esperada</ion-label>
      <ion-input 
        type="number" 
        [(ngModel)]="atividade.nota" 
        name="nota" 
        min="0" 
        max="10" 
        step="0.1">
      </ion-input>
    </ion-item>

    <!-- Campo Matéria -->
    <ion-item>
      <ion-label position="stacked">Matéria <ion-text color="danger">*</ion-text></ion-label>
      <ion-select 
        [(ngModel)]="atividade.materia" 
        name="materia" 
        required>
        <ion-select-option *ngFor="let materia of materias" [value]="materia.nome">
          {{materia.nome}}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <!-- Botão de Submit -->
    <ion-button 
      expand="block" 
      type="submit" 
      [disabled]="!isFormValid() || isLoading" 
      class="ion-margin-top">
      <ion-spinner *ngIf="isLoading" name="crescent"></ion-spinner>
      <span *ngIf="!isLoading">Criar Atividade</span>
    </ion-button>
  </form>
</ion-content>
