

  .header-title {
    font-weight: bold;
  }
  
  .header-logo img {
    height: 40px; /* Ajuste a altura da logo */
  }
  
  ion-item {
    margin-bottom: 15px; /* Espaçamento entre itens do formulário */
  }
  
  ion-button {
    margin-top: 20px; /* Espaço acima do botão */
  }