<ion-menu contentId="main-content" side="start">
  <ion-header>
    <ion-toolbar>
      <ion-title class="menu-title">Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-item routerLink="/perfil" detail="false">
        <ion-icon slot="start" name="person-circle"></ion-icon>
        <ion-label>Perfil do Usuário</ion-label>
      </ion-item>
      <ion-item routerLink="/termos" detail="false">
        <ion-icon slot="start" name="document-text"></ion-icon>
        <ion-label>Termos de Uso</ion-label>
      </ion-item>
      <ion-item routerLink="/settings" detail="false">
        <ion-icon slot="start" name="settings"></ion-icon>
        <ion-label>Configurações</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <!-- Header -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="header-title" color="success">Calendario</ion-title>
      <ion-buttons slot="end">
        <img class="logo" src="assets/imagens/logo-sem-escrita.png" alt="Logo" />
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="ion-padding">
      <!-- Calendário -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Nova Marcação</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-datetime
            displayFormat="DD/MM/YYYY"
            [(ngModel)]="selectedDate"
            (ionChange)="onDateChange($event)"
            placeholder="Selecione uma data"
          ></ion-datetime>

          <!-- Seletor de Cor -->
          <ion-item class="input-color">
            <ion-label>Cor da Marcação</ion-label>
            <ion-input type="color" [(ngModel)]="selectedColor"></ion-input>
          </ion-item>

          <!-- Descrição -->
          <ion-item>
            <ion-label>Descrição</ion-label>
            <ion-input [(ngModel)]="description" placeholder="Digite uma descrição"></ion-input>
          </ion-item>

          <!-- Botão -->
          <ion-button expand="full" color="success" (click)="addMark()">Adicionar Marcação</ion-button>
        </ion-card-content>
      </ion-card>

      <!-- Exibir Marcações -->
      <ion-card>
        <ion-card-header>
          <ion-card-title>Marcações</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item *ngFor="let mark of marks" class="mark-item">
              <ion-icon slot="start" name="bookmark-outline" [style.color]="mark.color"></ion-icon>
              <ion-label>
                <span>{{ mark.date }} - {{ mark.description }}</span>
              </ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
    </div>
  </ion-content>
</div>
