.header-title {
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
  }
  
  .logo{
    height: 40px;
    width: auto;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 50%;
  }
  
  .menu-title {
    font-size: 24px;
    color: white;
    text-align: center;
  }
  
  ion-list {
    margin-top: 20px;
    background: transparent;
  }
  
  ion-item {
    --background: transparent; // Fundo transparente para o item
    --color: #ffffff; // Cor do texto
    border-radius: 8px; // Bordas arredondadas
  }
  


ion-datatime{
  margin-bottom: 20px;
}

.input-color{
  margin-top: 10px;
}

ion-input{
  margin-left: 10px;
}


.mark-item {
  font-size: 1rem;
  padding: 8px 0;
}

.input-color {
  max-width: 80px;
  margin-left: 8px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.input-color[type="color"] {
  padding: 0;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
}

.input-color[type="color"]:focus {
  outline: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}



