<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu Content</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item routerLink="/perfil">Perfil do Usuário</ion-item>
      <ion-item routerLink="/historico">Histórico</ion-item>
      <ion-item routerLink="/settings">Configurações</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-content>
  <div class="ion-padding">
    <!-- Calendário -->
    <ion-datetime
      displayFormat="DD/MM/YYYY"
      [(ngModel)]="selectedDate"
      (ionChange)="onDateChange($event)"
    ></ion-datetime>

    <!-- Seletor de Cor -->
    <ion-item>
      <ion-label>Cor da Marcação</ion-label>
      <ion-input type="color" [(ngModel)]="selectedColor"></ion-input>
    </ion-item>

    <!-- Descrição -->
    <ion-item>
      <ion-label>Descrição</ion-label>
      <ion-input [(ngModel)]="description" placeholder="Digite uma descrição"></ion-input>
    </ion-item>

    <ion-button expand="full" (click)="addMark()">Adicionar Marcação</ion-button>

    <!-- Exibir Marcações -->
    <h4>Marcações:</h4>
    <ion-list>
      <ion-item *ngFor="let mark of marks">
        <ion-label>
          <span [style.color]="mark.color">{{ mark.date }}: {{ mark.description }}</span>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
