.header-title {
    text-align: center;
    flex-grow: 1;
    font-weight: bold;
  }
  
  .logo{
    height: 40px;
    width: auto;
    background-color: #ffffff;
    margin: 5px;
    border-radius: 50%;
  }
  
  .menu-title {
    font-size: 24px;
    color: white;
    text-align: center;
  }
  
  ion-list {
    margin-top: 20px;
    background: transparent;
  }
  
  ion-item {
    --background: transparent; // Fundo transparente para o item
    --color: #ffffff; // Cor do texto
    border-radius: 8px; // Bordas arredondadas
    transition: background 0.3s; // Transição suave para o hover
  }
  
  ion-item:hover {
    --background: rgba(255, 255, 255, 0.1); // Efeito de hover
  }
  
  ion-icon {
    color: green; // Cor dos ícones
  }

.p-4 {
    padding: 0 4px;
}

.fr {
    float: right;
}

.link {
    font-size: 14px;
}

.badge-item {
    border-bottom: 1px solid #f8f8f8;

    ion-avatar {
        --border-radius: 30%;
        background-color: #222;
        // border: 10px solid #222;
        padding: 10px;
    }

}

ion-item:first-of-type {
    ion-avatar {
        width: 50px;
        height: 50px;
    }
    ion-label {
        font-size: 20px;
        p {
            font-size: 18px;
        }
    }
}