// .large-icon {
//   width: 50px;
//   border-radius: 50%;
//   background-color: #d9d9d9;
// }


.header-title {
  text-align: center;
  flex-grow: 1;
  font-weight: bold;
}

.logo{
  height: 40px;
  width: auto;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 50%;
}

.menu-title {
  font-size: 24px;
  color: white;
  text-align: center;
}

ion-list {
  margin-top: 20px;
  background: transparent;
}

ion-item {
  --background: transparent; // Fundo transparente para o item
  --color: #ffffff; // Cor do texto
  border-radius: 8px; // Bordas arredondadas
  transition: background 0.3s; // Transição suave para o hover
}

ion-item:hover {
  --background: rgba(255, 255, 255, 0.1); // Efeito de hover
}

ion-icon {
  color: green; // Cor dos ícones
}

.no-pointer {
  pointer-events: none;
}

.p-4 {
  padding: 0 4px;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

.link {
  font-size: 14px;
}

.title-space {
  padding-bottom: 40px;
}

ion-card {
  margin: 4px;
  box-shadow: none;
  border-radius: 16px;
}

ion-grid, ion-col {
  padding: 0;
}

.title {
  ion-icon {
      font-size: 20px;
      color: #333;
      background-color: #fff;
      padding: 4px;
      border: 1px solid white;
      border-radius: 8px;
      margin-right: 14px;
      margin-top: 6px;
  }

  p {
      font-size: 18px;
      line-height: 20px;
  }

  h2 {
      font-size: 34px;
      font-weight: bold;
      margin-top: 14px ;
      color: green;
  }

  .mb {
      padding-bottom: 8px;
  }

}


