// ion-header {
//     background: #f8f9fa; /* Cor de fundo do cabeçalho */
//   }
  
//   ion-toolbar {
//     --background: #007bff; /* Cor de fundo do toolbar */
//     --color: white; /* Cor do texto */
//   }
  
.header-title {
  text-align: center;
  flex-grow: 1;
  font-weight: bold;
}

.logo{
  height: 40px;
  width: auto;
  background-color: #ffffff;
  margin: 5px;
  border-radius: 50%;
}

.menu-title {
  font-size: 24px;
  color: white;
  text-align: center;
}

ion-list {
  margin-top: 20px;
  background: transparent;
}

ion-item {
  --background: transparent; // Fundo transparente para o item
  --color: #ffffff; // Cor do texto
  border-radius: 8px; // Bordas arredondadas
  transition: background 0.3s; // Transição suave para o hover
}

ion-item:hover {
  --background: rgba(255, 255, 255, 0.1); // Efeito de hover
}

ion-icon {
  color: green; // Cor dos ícones
}
  
  ion-item-divider {
    margin-top: 20px;
    font-weight: bold; /* Negrito para divisores */
  }
  
  ion-button {
    margin: 16px; /* Margem para o botão de salvar */
  }
  
  ion-card {
    margin: 10px 0; /* Margem entre os cartões */
  }
  
  .title {
    display: flex;
    align-items: center; /* Alinha ícone e texto */
  }
  
  .fl {
    margin-right: 8px; /* Espaçamento entre ícone e texto */
  }